@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&family=Jost:wght@700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
label {
  font-family: "Figtree", sans-serif !important;
  font-weight: bold;
}

a,
input {
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

ol,
ul,
menu {
  font-family: "Poppins", sans-serif !important;
  list-style: disc !important;
}

.border-lightgray {
  border: 1px solid #e1e1e1;
}

input,
textarea,
button,
select {
  outline: none !important;
  font-family: "Poppins", sans-serif !important;
}
input:focus-visible {
  outline: none;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p,
span,
a,
li,
ul,
ol,
input,
textarea,
button {
  font-weight: 400;
  color: #000;
}
.text-bold {
  font-weight: 700;
  font-family: "Figtree", sans-serif !important;
}
.error {
  color: #ff0000;
  font-weight: 500;
  /* height: 16px; */
}

.modal_view {
  position: absolute;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: white;
  overflow-x: visible;
  overflow-y: auto;
  border-radius: 12px;
  outline: none;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  height: calc(100% - 3.5rem) !important;
}

.center_view {
  position: fixed;
  inset: 0px;
  background-color: rgba(77, 77, 77, 0.5);
  z-index: 100;
}

.edit_modal_view {
  width: 60%;
  height: auto !important;
}

@media (max-width: 768px) {
  .edit_modal_view {
    width: 90%;
  }
}

@layer components {
  label {
    @apply block mb-3 text-[16px] font-[700] text-gray-700;
  }
  .input {
    @apply py-3 appearance-none block w-full rounded-[8px] px-4 leading-tight mb-3 h-[48px] text-[14px] duration-500 border border-[#e1e1e1];
  }
}
